
.App {
  text-align: left;
  padding: 10.5em;
  margin: 10px;
}


footer{
  text-align: center;
  padding-top: 2.5em;
}

p{font-family: Georgia, 'Times New Roman', Times, serif;
  size: 8px;
color: #c9d8db;
}
