

.Weather{
    display: flexbox;
    padding: 20px;
    margin: 10px 5px 10px 15px;
    background: linear-gradient(99.6deg, black
     10.6%,  rgba(112, 128, 152, 0.479) 32.9%,   #7f555772 72.8%, rgba(81, 90, 100, 0.717) 100.1%, #7f5557 90.8%,  rgba(0, 0, 0, 0.372) 50.6%);
}

.current {
    display: block;
    text-align: left;

}

.search{
    display: block;
    text-align: center;
   
}

.location{
    padding-left: 0.7em;
    padding-bottom: 0.5em;
    color: #bdc6cf  ;
    display:block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 14px;
    text-transform: uppercase;
}



.current-day{
    list-style: none;
    color: white;
}
.date{
    text-transform: uppercase;
}

input{
    color:white;
    border:#f2f2f2;
    background-color:#808fa567;
    padding: 0.4em;
}

::placeholder{
    color: white;
    text-align: center;
}

.todays-forecast {
    list-style: none;  
    color: white;
}

.WeatherTemperature{
    text-align: center;
    padding-left:  0.3em;
    display: inline;
    color: white;
    font-size: 45px;
    }


.location{
    display: inline;
}

.weatherIcon{
    padding-left: 1.9em;
    padding-top: 2em;
    display: inline-block;
    
}

.units {
    font-size: 15px;

}

.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
  }

.btn.btn-light.btn-sm {
  margin-left: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 0.2em;
}