

.Weather{
    display: flexbox;
    padding: 20px;
    margin: 10px 5px 10px 15px;
    background: linear-gradient(to bottom, #f2f2f2   20%,  #dfe9f3 45%, #dde9eb  65%);
}

.current {
    display: block;
    text-align: left;

}

.search{
    display: block;
    text-align: center;
   
}

.location{
    padding-left: 0.7em;
    padding-bottom: 0.5em;
    color: #bdc6cf  ;
    display:block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 14px;
    text-transform: uppercase;
}



.current-day{
    list-style: none;
}
.date{
    text-transform: uppercase;
}

input{
    color: #a4a9aed0 ;
    border:#f2f2f2;
    background-color: #f2f2f2;
    padding: 0.4em;
}

::placeholder{
    color: #a4a9aed0 ;
    text-align: center;
}

.todays-forecast {
    list-style: none;  
}

.temperature{
    text-align: center;
    padding-left:  0.3em;
    font-size: 50px;
    line-height: 10px;
    display: inline-block;
}

.location{
    display: inline;
}

.weatherIcon{
    padding-left: 1.9em;
    padding-top: 0.3em;
    display: inline-block;
    
}